.sezionec {
  position: relative;
  width: 100%;
  min-height: 85.2vh;
  padding: 4rem 0 8rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
  z-index: 1;
}

.bottom-left {
  position: absolute;
  left: 0rem;
  bottom: -4.8rem;
  z-index: 0;
}

.top-right {
  position: absolute;
  right: 0;
  top: -5rem;
  z-index: 0;
}

.titolo {
  color: var(--nero);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.divisione1 {
  display: flex;
  width: 76.4375rem;
  height: 15.375rem;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  gap: 7.6875rem;
}

.divisione2 {
  display: flex;
  width: 76.4375rem;
  height: 14.5rem;
  padding: 0rem 7.5625rem 0rem 6.1875rem;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  gap: 5.4375rem;
}

.divisione3 {
  display: flex;
  width: 76.4375rem;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  gap: 2.8125rem;
}

.container-pinfo {
  display: flex;
  padding: 1.6875rem 1.625rem 1.6875rem 1.6875rem;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 5px solid var(--chiaro);
}

.container-pinfo2 {
  display: flex;
  width: 38rem;
  height: 9.5rem;
  padding: 0.9375rem 1.375rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(--chiaro);
}

.container-pinfo3 {
  display: flex;
  padding: 1.5625rem 1.625rem 1.6875rem 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  border: 5px solid var(--chiaro);
}

.pinfo {
  color: var(--nero);
  text-align: left;
  width: 32.3125rem;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.pinfo2 {
  color: var(--nero);
  text-align: left;
  width: 35.25rem;
  height: 7.625rem;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.pinfo3 {
  color: var(--nero);
  text-align: left;
  width: 35.9375rem;
  height: 10.1875rem;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

@media (max-width: 768px) {
  .sezionec img {
    display: none;
  }

    .container,
    .divisione1,
    .divisione2,
    .divisione3 {
      width: 90%;
      padding: 0;
      gap: 1.5rem;
    }
  
    .divisione2 {
      padding: 0;
      gap: 1rem;
      height: auto;
    }
  
    .container-pinfo,
    .container-pinfo2,
    .container-pinfo3 {
      width: 90%;
      padding: 1rem;
    }
    
    .container-pinfo2 {
      align-items: flex-start;
      height: 100%;
    }

    .container-pinfo3 {
      align-items: flex-start;
    }

    .pinfo,
    .pinfo2,
    .pinfo3 {
      width: 90%;
      height: auto;
    }
  
  .sezionec {
    position: relative;
    width: 100%;
    min-height: 85.2vh;
    padding-right: 1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    z-index: 1;
  }
  
  .bottom-left,
  .top-right {
    position: absolute;
    z-index: 0;
  }
  
  .bottom-left {
    left: 0;
    bottom: -4.8rem;
  }
  
  .top-right {
    right: 0;
    top: -5rem;
  }
  
  .titolo {
    color: var(--nero);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
  }
  }