.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  background: var(--scuro);
  z-index: 1;
}

.social,
.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.625rem;
}

.info-box {
  align-content: center;
  padding: 0.8125rem 1rem;
  flex-direction: column;
  gap: 1.375rem;
}

.info-box a {
  text-decoration: none !important;
}

.info,
.info-link,
.info-header,
.social-info,
.accessibility-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bianco);
  text-align: center;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.info-header {
  height: 4rem;
  font-size: var(--font-size2);
  font-weight: 400;
  line-height: 2.25rem;
}

.social-info {
  width: 3rem;
  height: 3.75rem;
}

.accessibility-link {
  width: 8.4375rem;
  height: 3.625rem;
  padding-left: 0.0625rem;
  align-items: center;
  border-radius: 0.625rem;
  background: var(--medio) !important;
  font-family: var(--font);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.accessibility-link:hover {
  background-color: var(--bianco) !important;
  color: var(--medio);
}
