.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  background: var(--scuro);
  z-index: 1;
}

.social,
.info-box,
.info-box-servizi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.625rem;
}

.info-box {
  align-content: center;
  padding: 0.8125rem 1rem;
  flex-direction: column;
  gap: 1.375rem;
}

.info-box-servizi {
  align-content: center;
  padding: 0.8125rem 1rem;
  flex-direction: column;
  gap: 1.375rem;
}

.info-box a,
.info-box-servizi a {
  text-decoration: none !important;
}

.info,
.info-link,
.info-header,
.social-info,
.accessibility-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bianco);
  text-align: center;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.info-header {
  height: 4rem;
  font-size: var(--font-size2);
  font-weight: 400;
  line-height: 2.25rem;
}

.social-info {
  width: 3rem;
  height: 3.75rem;
}

.accessibility-link {
  width: 8.4375rem;
  height: 3.625rem;
  padding-left: 0.0625rem;
  align-items: center;
  border-radius: 0.625rem;
  background: var(--medio) !important;
  font-family: var(--font);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.accessibility-link:hover {
  background-color: var(--bianco) !important;
  color: var(--medio);
}

/* Media query per rendere il footer responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
  }
  .social {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .info-box-servizi {
    visibility: hidden;
    position: absolute;
  }
  .info-box:nth-child(4) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .info-header {
    font-size: 1.5rem;
    height: auto;
    width: 100%;
  }
  .social-info {
    width: 2.5rem;
    height: 3.25rem;
  }
  .accessibility-link {
    width: 7.5rem;
    height: 3.25rem;
    padding: 0.25rem;
  }
}