.navbar {
  width: 100%;
  height: 5rem;
  background: var(--scuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo-container {
  background: var(--scuro);
  display: flex;
  justify-content: flex-start;
  width: 10.875rem;
  align-items: center;
  gap: 0.125rem;
}

.logo {
  display: flex;
  width: 4rem;
  justify-content: center;
  align-items: center;
  background: var(--bianco);
  border-radius: 4rem;
}

.logo img {
  width: 3rem;
  height: 4.14314rem;
}

.brand-name {
  color: var(--bianco);
  font-size: 32px;
  font-family: "Fredoka One", sans-serif;
  font-weight: bold;
  line-height: 36px;
  word-wrap: break-word;
}

.menu {
  display: flex;
  padding: 0.9375rem 0.4375rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.search-bar {
  display: flex;
  width: auto;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--medio);
  overflow: hidden;
}

.search-bar input,
.search-bar ::placeholder {
  color: var(--bianco);
  font-size: var(--font-size);
  font-family: var(--font), sans-serif;
  line-height: 1.25rem;
  word-wrap: break-word;
  border: none;
  background: none;
  outline: none;
}

.search-bar ::placeholder {
  color: rgba(255, 253, 248, 0.7);
}

.search-bar img,
.social img {
  width: 1.25rem;
  height: 1.25rem;
}

.menu-item {
  color: var(--bianco);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.menu-item a,
.info-link a,
.home {
  text-decoration: none;
  color: var(--bianco);
}

.menu-item::after:not(p),
.info-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--bianco);
  display: block;
  transition: 0.5s;
}

.menu-item:hover::after:not(p),
.info-link:hover::after {
  width: 100%;
}

.user-menu {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -2rem;
  background-color: var(--scuro);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0.625rem;
}

.dropdown-style {
  display: flex;
  width: 21.375rem;
  padding: 1.375rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.0625rem;
  border-radius: 0.625rem;
  border-top: 2px solid var(--medio);
  border-left: 2px solid var(--medio);
  background: var(--scuro);
}

.dropdown-content a,
.dropdown-content button {
  display: block;
  text-decoration: none;
  color: var(--bianco);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: left;
  border: none;
  padding: 0;
  font-size: var(--font-size);
  font-family: var(--font), sans-serif;
}

.dropdown-content a::after,
.dropdown-content button::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--bianco);
  display: block;
  transition: 0.5s;
}

.dropdown-content a:hover::after,
.dropdown-content button:hover::after {
  width: 100%;
}

.user-menu:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .navbar {
    height: auto;
    padding: 1rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .logo-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .logo {
    width: 4.4rem;
  }

  .brand-name {
    font-size: 24px;
    line-height: 1.5;
  }

  .menu {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .search-bar {
    width: 60%;
  }

  .menu-item {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .dropdown-content {
    left: 0;
  }

  .dropdown-style {
    width: 100%;
  }

  .dropdown-content a,
  .dropdown-content button {
    font-size: 1rem;
  }
}
