.popupContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popupContent {
  display: flex;
  width: 19rem;
  height: 17.875rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background: var(--chiaro);
}

.popupHeader {
  position: relative;
  display: flex;
  width: 90%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.popupTitle {
  text-align: center;
  color: var(--nero);
  font-size: var(--font-size2);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
  word-wrap: break-word;
}

.closeButton {
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 10rem;
  background-color: var(--nero);
  border: 1px solid var(--nero);
}

.closeIcon {
  position: absolute;
  top: 0.07em;
  left: 0.08em;
  color: var(--bianco);
}

.closeButton:hover {
  background-color: var(--bianco);
}

.closeIcon:hover {
  color: var(--nero);
}

.popupBody {
  width: 10.9375rem;
  height: 10.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}

.popupButton {
  width: 10rem;
  padding: 0.45rem;
  background-color: var(--nero);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--nero);
}

.popupButton button {
  color: var(--bianco);
  font-size: var(--font-size);
  font-family: var(--font), sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  word-wrap: break-word;
  background: none;
  border: none;
}

.popupButton:hover {
  background-color: var(--bianco);
}

.popupButton button:hover {
  color: var(--nero);
}
